.portfolio-img {
    position: relative;
    height: 200px;
    width: 100%;
    background-image: url("../assets/header-img.jpg");
    background-size: cover;
    background-position: center;
}

.custom-row {
    color: white;
    text-align:center;
    padding-top: 1.5rem;
    background-color:#FBB80F;
    position: relative;
    transform: translate(15px, 35px);
    background-color: #FBB80F;
    margin: 0px 100px;
}